<?xml version="1.0" ?>
<robot name="couliglig_bot">
  <webots>
    <device reference="LDS-01" type="Lidar">
      <ros>
        <enabled>true</enabled>
        <updateRate>50</updateRate>
        <topicName>/scan</topicName>
        <alwaysOn>true</alwaysOn>
        <frameName>LDS-01</frameName>
        <useSimTime>true</useSimTime>
      </ros>
    </device>

    <plugin type="couliglig.couliglig_bot.CouligligBot"/>
  </webots>
</robot>