<?xml version="1.0" ?>
<robot name="couliglig_bot" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Root link -->
  <!-- <link name="base_link"/> -->

  <!-- LiDAR frame -->
  <!-- <link name="LDS-01"/> -->

  <!-- Fixed transform from base_link to LDS-01 (LiDAR) -->
  <!-- <joint name="base_to_lidar" type="fixed">
    <parent link="base_link"/>
    <child link="LDS-01"/>
    <origin xyz="-0.15 -0.0086 0.1696" rpy="0 0 3.141593"/>
  </joint> -->

  <!-- Optional: more links or joints can be added here (wheels, IMU, etc.) -->

  <!-- Webots-specific extension for ROS 2 integration -->
  <webots>
    <device reference="LDS-01" type="Lidar">
      <ros>
        <enabled>true</enabled>
        <updateRate>30</updateRate>
        <topicName>/scan</topicName>
        <alwaysOn>true</alwaysOn>
        <frameName>LDS-01</frameName>
        <useSimTime>true</useSimTime>
      </ros>
    </device>

    <plugin type="couliglig.couliglig_bot.CouligligBot"/>
  </webots>
</robot>
